@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-indigo {
    @apply bg-indigo-600 hover:bg-indigo-800;
  }
  .btn-red {
    @apply bg-red-600 hover:bg-red-800;
  }
  .btn-blue {
    @apply bg-blue-600 hover:bg-blue-800;
  }
  .btn-green {
    @apply bg-green-600 hover:bg-green-800;
  }
}
